<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de Postagens</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="../../../public/css/lista_de_postagens.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    </head>
    
    <body>
        <h1 class="titulo"><u>Tabela-Postagens:</u></h1>

        <button type="button" class="btn btn-primary but-add" title="Criar post"><i class="bi bi-file-earmark-plus-fill"></i></button>

        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered border-secondary table-sm table-hover tabela">
                    <thead>
                        <tr class="barra-guia">
                            <th scope="col" class="col-data">Data</th>
                            <th scope="col" class="col-nome">Post</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="col-num">11/10/2022</th>
                            <td class="col-nome">Chainsaw Man</td>
                            <td><div class="botao">
                                <button type="button" class="btn btn-secondary" title="Visualizar"><i class="bi bi-eye"></i></button>
                                <button type="button" class="btn btn-success" title="Editar"><i class="bi bi-pencil-fill"></i></button>
                                <button type="button" class="btn btn-danger" title="Excluir"><i class="bi bi-x-lg"></i></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-num">11/10/2022</th>
                            <td class="col-nome">Bleach retorna em um novo arco!</td>
                            <td><div class="botao">
                                <button type="button" class="btn btn-secondary" title="Visualizar"><i class="bi bi-eye"></i></button>
                                <button type="button" class="btn btn-success" title="Editar"><i class="bi bi-pencil-fill"></i></button>
                                <button type="button" class="btn btn-danger" title="Excluir"><i class="bi bi-x-lg"></i></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-num">07/10/2022</th>
                            <td class="col-nome">Vinland Saga 2: o que esperar</td>
                            <td><div class="botao">
                                <button type="button" class="btn btn-secondary" title="Visualizar"><i class="bi bi-eye"></i></button>
                                <button type="button" class="btn btn-success" title="Editar"><i class="bi bi-pencil-fill"></i></button>
                                <button type="button" class="btn btn-danger" title="Excluir"><i class="bi bi-x-lg"></i></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-num">05/10/2022</th>
                            <td class="col-nome">Mob Psycho III</td>
                            <td><div class="botao">
                                <button type="button" class="btn btn-secondary" title="Visualizar"><i class="bi bi-eye"></i></button>
                                <button type="button" class="btn btn-success" title="Editar"><i class="bi bi-pencil-fill"></i></button>
                                <button type="button" class="btn btn-danger" title="Excluir"><i class="bi bi-x-lg"></i></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-num">03/10/2022</th>
                            <td class="col-nome">Animes da temporada que está por vir!</td>
                            <td><div class="botao">
                                <button type="button" class="btn btn-secondary" title="Visualizar"><i class="bi bi-eye"></i></button>
                                <button type="button" class="btn btn-success" title="Editar"><i class="bi bi-pencil-fill"></i></button>
                                <button type="button" class="btn btn-danger" title="Excluir"><i class="bi bi-x-lg"></i></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-num">01/10/2022</th>
                            <td class="col-nome">Revelada a data de lançamento de Fumetsu no Anata e 2</td>
                            <td><div class="botao">
                                <button type="button" class="btn btn-secondary" title="Visualizar"><i class="bi bi-eye"></i></button>
                                <button type="button" class="btn btn-success" title="Editar"><i class="bi bi-pencil-fill"></i></button>
                                <button type="button" class="btn btn-danger" title="Excluir"><i class="bi bi-x-lg"></i></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-num">29/09/2022</th>
                            <td class="col-nome">Revisitando clássicos: Hunter x Hunter</td>
                            <td><div class="botao">
                                <button type="button" class="btn btn-secondary" title="Visualizar"><i class="bi bi-eye"></i></button>
                                <button type="button" class="btn btn-success" title="Editar"><i class="bi bi-pencil-fill"></i></button>
                                <button type="button" class="btn btn-danger" title="Excluir"><i class="bi bi-x-lg"></i></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-num">25/09/2022</th>
                            <td class="col-nome">Revelada a data de lançamento de Fumetsu no Anata e 2</td>
                            <td><div class="botao">
                                <button type="button" class="btn btn-secondary" title="Visualizar"><i class="bi bi-eye"></i></button>
                                <button type="button" class="btn btn-success" title="Editar"><i class="bi bi-pencil-fill"></i></button>
                                <button type="button" class="btn btn-danger" title="Excluir"><i class="bi bi-x-lg"></i></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-num">24/09/2022</th>
                            <td class="col-nome">Novo visual da segunda temporada de Jujutsu Kaisen</td>
                            <td><div class="botao">
                                <button type="button" class="btn btn-secondary" title="Visualizar"><i class="bi bi-eye"></i></button>
                                <button type="button" class="btn btn-success" title="Editar"><i class="bi bi-pencil-fill"></i></button>
                                <button type="button" class="btn btn-danger" title="Excluir"><i class="bi bi-x-lg"></i></button>
                            </div></td>
                        </tr>
                        <tr>
                            <th scope="row" class="col-num">20/09/2022</th>
                            <td class="col-nome"> Spoilers One Piece 1060</td>
                            <td><div class="botao">
                                <button type="button" class="btn btn-secondary" title="Visualizar"><i class="bi bi-eye"></i></button>
                                <button type="button" class="btn btn-success" title="Editar"><i class="bi bi-pencil-fill"></i></button>
                                <button type="button" class="btn btn-danger" title="Excluir"><i class="bi bi-x-lg"></i></button>
                            </div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    </body>
</html>
