<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Visualização Individual</title>
    </head>

    <body>
        <h1>Confira a data de estreia do anime Chainsaw Man em Streaming</h1>
        <h2>Denji e Makima estão chegando!</h2>
        <img src="../../../public/img/Sasuke-Pensativo.jpg" alt="Sasuke Pensativo">
        <figcaption>Sasuke Pensativo</figcaption>
        <figcaption>07/10/2022 - 17h23</figcaption>

        <img src="../../../public/img/chainsaw-man_capa.jpg" alt="Capa de Chainsaw Man">

        <p>Falta pouco para um dos animes mais esperados de 2022 estrear! Nos últimos tempos, o estúdio MAPPA não está para
            brincadeira — e não vai ser diferente com Chainsaw Man! Se você quiser conferir na estreia, saiba que o primeiro
            episódio legendado de Chainsaw Man vai estrear em Streaming na Crunchyroll no dia 11 de outubro, às 13:00 (horário de
            Brasília)!</p>
        <p>Chainsaw Man também ganhará dublagem em português, mas esta chega em uma data posterior.</p>

        <img src="../../../public/img/chainsaw-man-capas-volumes.jpg" alt="Capas de Volumes Chainsaw Man">
    </body>
</html>