body {
    margin-top: 20px;
    padding-left: 20%;
    padding-right: 32%;
}

form {
    background-color: #F0F0F0;
    width: 800px;
}

.botao {
    display: flex;
    gap: 5px;
    flex-direction: row-reverse;
}