body {
    background-color: #272626;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo>img {
    width: 400px;
    margin-top: 40%;
}

.cards {
    margin: 0 auto;
    width: 40%;
    margin-top: 7%;
}

.card-posts{
    margin: 0 auto;
    width:40px;
    margin-top: 10px;
}
.card-user{
    width:40px;
    margin: 0 auto;
    margin-top: 10px;
}
.card-logout{
    width:40px;
    margin: 0 auto;
    margin-top: 10px;
}

.titulo-posts{
    display: flex;
    justify-content: center;
}
.titulo-user{
    display: flex;
    justify-content: center;
}
.titulo-logout{
    display: flex;
    justify-content: center;
}