body {
    background-color: #272626;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo>img {
    width: 20%;
    margin-top: 7%;
}

.cards {
    margin: 0 auto;
    width: 40%;
    display: flex;
    margin-top: 7%;
}

.card-posts{
    width:40px;
    margin: 0 auto;
    margin-top: 10px;
}
.card-user{
    width:40px;
    margin: 0 auto;
    margin-top: 10px;
}
.card-logout{
    width:40px;
    margin: 0 auto;
    margin-top: 10px;
}

.botao-posts {
    box-align: center;
}
.titulo-posts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo-user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo-logout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.botao-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}