
body {
    padding: 5%;
    background-color: #F0F0F0;
}

.titulo {
    color: #EB6D43;
}



.but-add {
    margin-top: 30px;
    margin-bottom: 10px;
}

.tabela {
    width: 100%;
}

.barra-guia {
    background-color: #1F6EC9;
    color: #F0F0F0;
}

.col-data {
    width: 8%;
}

.col-post {
    width: 52%;
}

.col-autor{
    width: 18%
}

.botao {
    display: flex;
    gap: 5px;
    margin-left: 20%;
}

.botao-forms{
    display: flex;
    gap: 5px;
    flex-direction: row-reverse;
}

.fade-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
    pointer-events: all;
}

.modal-p{
    position: fixed;
    width: 800px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: 0.4s;
}

.modal.corpo{
    
}

.hide{
    opacity: 0;
    top: 0;
    pointer-events: none;
}

.form-add{
    background-color: #F0F0F0;
    width: 800px;
}

@media (max-width: 1200px) {
    
    body{
        padding: 0;
    }

    .titulo {
        margin-left: 0;
        text-align: center;
        margin-right: 2%;
    }

    .but-add {
        margin-top: 40px;
    }

    .tabela {
        margin-left: 0;
    }

    .botao {
        margin-left: 0;
    }
}