
body {
    padding: 5%;
    background-color: #F0F0F0;
}

.main {
    margin-right: 8%;
    margin-left: 8%;
}

.titulo {
    color: #EB6D43;
}

.but-add {
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: 4%;
    margin-left: 4%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.tabela {
    width: 100%;
}

.barra-guia {
    background-color: #1F6EC9;
    color: #F0F0F0;
}

.col-num {
    width: 8%;
}

.col-nome {
    width: 70%;
}

.botao {
    display: flex;
    gap: 5px;
    margin-left: 20%;
}

@media (max-width: 1024px) {
    
    .titulo {
        margin-left: 0;
        text-align: center;
        margin-right: 2%;
    }

    .but-add {
        margin-top: 40px;
        margin-right: 6%;
        margin-right: 6%;
    }

    .botao {
        margin-left: 1%;
    }
}