
.main {
    background-color: #272226;
    padding: 5%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-right: 17%;
    margin-left: 17%;
}

.titulo {
    color: #F0F0F0;
}

.card-vertical {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-right: 17%;
    margin-left: 17%;
}

.card-horizontal {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 17%;
    margin-left: 17%;
}

.cards-hor {
    width: fit-content;
}