
body {
    padding: 5%;
    background-color: #F0F0F0;
    font-family: arial;
}

.titulo {
    margin-left: 4%;
    color: #EB6D43;
}

.but-add {
    margin-top: 80px;
    margin-left: 5%;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.tabela {
    margin-left: 3%;
    width: 90%;
}

.barra-guia {
    background-color: #1F6EC9;
    color: #F0F0F0;
}

.col-num {
    width: 8%;
}

.col-nome {
    width: 70%;
}

.botao {
    display: flex;
    gap: 5px;
    margin-left: 20%;
}

.numeracao {
    text-align: center;
}