
@font-face {
    font-family: 'Naruto';
    src: url('../font/ninja_naruto/njnaruto.ttf') format('truetype');
}

.main {
    background-color: #272226;
    padding: 5%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-right: 17%;
    margin-left: 17%;
}

.titulo {
    color: #F0F0F0;
}

.card-vertical {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-right: 17%;
    margin-left: 17%;
}

.card-horizontal {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 17%;
    margin-left: 17%;
}

.mais{
    text-decoration: none;
    color: #1F6EC9;
    font-family: 'Naruto';
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.cards-ver {
    width: fit-content;
}

.cards-hor {
    width: fit-content;
}