html {  
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li{
    border-radius: 15px;
    line-height: 45px;
    margin-bottom: 5px;
    color: aliceblue;
    padding: 10px;
    font-weight: bold;
    left: 0;
}

.botao a:hover{
    transition: 0.5s;
    background-color: #ffffff;
}

a{
    text-decoration: none;
}

.icon{
    margin-right: 18px;
}

.barralat{
    background-color: #0D3C5A;
    color:aliceblue;
}

.user{
    position: absolute;
    bottom: 20px;
    width: 367px;
    align-items: center;
}

.botao{
    background-color: #EB6D43;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 0%;
}


ul li:hover{
    transition: 0.5s;
    background-color: #EB6D43;
}

.user p{
    font-size: 13px;
    margin-top: -30px;
    margin-left: 45px;
    max-width: max-content;
}