.main{
    background-color: aqua;
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 100px;
    margin-bottom: 50px;
}
.navigation{             /*barra de pesquisa*/
    margin-left: 50rem;
    height: 5rem;
    width: 18rem;
}

.pequeno{                 /*configura o card pequeno*/
    margin-left: 5px;
    margin-right: 5px;
    height: 13rem;
    width: 15rem;
    font-size: 12px;
    display: inline-block;
}
.anime{              /*mexe na foto do anime do card pequeno*/
    width: 100px;
    height: 100px;
    margin-left: 60px;
    margin-top: 10px;
}
.texto{                /*mexe na cor do texto dentro do card pequeno*/
    color: gray;
    text-decoration: none;
}
.texto:hover{               
    color: #f27609;
}

.grande{               /*mexe no card grande*/
    display: block;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    height: 24rem;
    width: 47rem;
    font-size: 12px;
}

.grande img{                 /*mexe na foto do anime do card grande*/
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 10px;
}

.grande p {    
    display: inline-block;       /*mexe na cor do texto dentro do card grande*/
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.grande a{                      /*mexe no titulo do card grande*/
    font-size: 25px;
    color: black;
    margin-top: 15px;
    margin-left: 10px ;
    margin-right: 15px;
    text-decoration: none;
}

.grande a:hover{
    color: #f27609;
}

.grande h2{               /*mexe no subtitulo do card grande*/
    font-size: 15px;
    color: gray;
    margin-top: 15px;
    margin-left: 10px ;
    margin-right: 15px;
}