body {
    margin-top: 30px;
    padding-left: 20%;
    padding-right: 32%;
}

form {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    width: 800px;
    height: 577px;
}

img {
    width: 600px;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 200px;
}


.titulo {
    margin-top: 5px;
}

.botao {
    display: flex;
    gap: 5px;
    flex-direction: row-reverse;
}